<% if(locals.bellboy.bells["_all"].Enabled == true) { %>
  <h1>Currently Loaded Bells</h1>

  <table border=1 cellpadding=10 cellspacing=0 class="list table table-bordered table-hover">
    <tr cellpadding="5" class="colour">
      <th>&nbsp;</th>
      <!-- <th><a title="The unique ID of this bell">ID</a></th> -->
      <th>
        <abbr title="Short name for this bell">Name</abbr>
      </th>
      <th>
        <abbr title="When this bell will next ring">Next Run Time</abbr>
      </th>
      <th>
        <abbr title="Other properties. Mouse over the icon for more information">Status</a>
      </th>
      <th>Actions</th>
    </tr>
    <!-- Loop through each bell -->
    <% Object.keys(locals.bellboy.bells).forEach(function(item){ %>
      <% var bell = locals.bellboy.bells[item] %>
      <!-- If the bell is the fake "all" bell, skip it -->
      <% if(item.substring(0,1) == "_") { return } %>

        <% if (bell.Enabled === false) { %>
          <tr class="inactivebell" id="<%= item %>">
        <% } else { %>
          <tr class="activebell" id="<%= item %>">
        <% } %>
        <% if (locals.bellboy.modules["bellparser"].GetPreviousJob()["name"] == bell.Name) { %>
          <td class="prevbell"><i class="glyphicon glyphicon-chevron-left"></i> <abbr title="Bell was last triggered at <%= locals.bellboy.modules["bellparser"].GetPreviousJob()["shortparsed"] %>">PREV</abbr></td>
        <% } else if (locals.bellboy.modules["bellparser"].GetNextJob()["name"] == bell.Name) { %>
          <td class="nextbell"><i class="glyphicon glyphicon-chevron-right"></i> <abbr title="This bell will play next">NEXT</abbr></td>
          <% } else { %>
            <td>&nbsp;</td>
            <% } %>
              <!-- <td><%= item %></td> -->
              <td>
                <%= bell.Name %><br />
                <small class="text-muted"><%= bell.Description %></small>
              </td>
              <td>
                  <%= locals.bellboy.modules["bellparser"].CronToDate(item)["calendar"] %>
              </td>

              <td>
                <% if(locals.validator.GetValue(bell, "Locked") == true) { %><i class="glyphicon glyphicon-lock" data-toggle="tooltip" data-placement="top" title="This bell is locked and cannot be changed from here"></i><% } %>
                <% if(locals.validator.GetValue(bell, "Actions.Mail.Change.Enabled") == true) { %><i class="glyphicon glyphicon-edit" data-toggle="tooltip" data-placement="top" title="An email wil be sent when this bell is changed"></i><% } %>
                <% if(locals.validator.GetValue(bell, "Actions.Mail.Trigger.Enabled") == true) { %><i class="glyphicon glyphicon-envelope" data-toggle="tooltip" data-placement="top" title="An email wil be sent when this bell is triggered"></i><% } %>
                <% if(locals.validator.GetValue(bell, "Actions.External") !== "undefined") { %><i class="glyphicon glyphicon-flash" data-toggle="tooltip" data-placement="top" title="This bell will activate an external ringer"></i><% } %>
                <% if(locals.validator.GetValue(bell, "Actions.Audio") !== "undefined") { %><i class="glyphicon glyphicon-music" data-toggle="tooltip" data-placement="top" title="This bell will play audio: <%= bell.Actions.Audio.Files %>"></i><% } %>
                <% if(locals.validator.GetValue(bell, "Actions.Schedule") !== "undefined") { %><i class="glyphicon glyphicon-refresh" data-toggle="tooltip" data-placement="top" title="This bell will switch to a different schedule: <%= bell.Actions.Schedule.File %>"></i><% } %>
              </td>
              <td>
                <a href="javascript:toggleBell('<%= item %>', <% if (bell.Enabled === false) { %>true<% } else { %>false<% } %>)">
                  <% if (bell.Enabled === false) { %>Enable
                    <% } else { %>Disable
                      <% } %>
                </a> |
                <a href="javascript:trigger('<%= item %>')">Trigger</a> |
                <a href="/add?bell=<%= item %>">Edit</a>
              </td>
    </tr>
    <% }); %>
    <tr>
      <th colspan="3">Currently loaded schedule: <%= bellboy.bells["_name"] %></th><th colspan="3"><a href="schedule.ejs"><i class="glyphicon glyphicon-calendar"></i> Change Schedule</a></th>
    </tr>
  </table>

  <div class="col-sm-10">
    <table border="1" cellpadding="10" cellspacing="0"  class="list table table-condensed">
      <tr>
        <th colspan="2">&nbsp;</th>
      </tr>
      <tr>
        <td><i class="glyphicon glyphicon-lock"></i> Bell is locked from editing</td>
        <td><i class="glyphicon glyphicon-flash"></i> Bell will trigger an external ringer</td>
      <tr>
        <td><i class="glyphicon glyphicon-edit"></i> Email will be sent when bell changed</td>
        <td><i class="glyphicon glyphicon-envelope"></i> Email will be sent on trigger</td>
      </tr>
      <tr>
        <td><i class="glyphicon glyphicon-music"></i> Bell will play audio</td>
        <td><i class="glyphicon glyphicon-refresh"></i> Bell will switch schedules</td>
      </td>
    </table>

  </div>
  <div class="col-sm-2">
    <table border="1" cellpadding="10" cellspacing="0"  class="list table table-condensed">
      <tr>
        <th colspan="3">Legend</th>
      </tr>
      <tr>
        <td class="activebell">Bell is enabled</td>
      </tr>
      <tr>
        <td class="inactivebell">Bell is disabled</td>
      </tr>
      <tr>
        <td class="nextbell"><i class='glyphicon glyphicon-chevron-right'></i> This bell will ring next</td>
      </tr>
    </table>
  </div>
  <% } else { %>
    <h2>All bells are currently disabled. <a href="javascript:toggleBell('_all', true)">Click here to enable them again</a></h2>
    <% } %>
