<% include includes/header.ejs %>
  <script type="text/javascript">
    socket.on("reloadstatus", function() {
      location.reload()
    })
  </script>
  <% include includes/modal.ejs %>
    <div class="statusscreen smallscreen">
      <table class="table table-condensed smallscreen" style="max-height: 100vh">
        <tr>
          <th colspan="4">
            <%= locals.bellboy.config.AppName %>
          </th>
        </tr>
        <tr>
          <td colspan="4" id="time"></td>
        </tr>
        <% if(locals.bellboy.bells["_all"].Enabled == false) { %>
          <tr>
            <td colspan="4" class="alert alert-danger"><i class="glyphicon glyphicon-remove-sign"></i> All bells are disabled. They were disabled on
              <%= date["parsed"] %>
            </td>
          </tr>
          <tr>
            <td colspan="4"><a href="javascript:toggleBell('_all', true)">Click here to enable them again</a></td>
          </tr>
          <% } else { %>
            <tr>
              <td colspan="4" id="nextbell"></td>
            </tr>
            <tr>
              <td colspan="4"><i class="glyphicon glyphicon-calendar"></i> Schedule:
                <%= locals.bellboy.bells["_name"] %>
              </td>
            </tr>
            <tr>
              <td colspan="4"><i class="glyphicon glyphicon-globe"></i> Manage these bells: <a href="/"><%= locals.bellboy.modules["bellweb"].GetServerURL() %></a></td>
            </tr>
            <tr>
              <td colspan="4"><i class="glyphicon glyphicon-eye-close"></i> <%= lodash.filter(bellboy.bells, function(value) { return value.Enabled == true && Object.keys(value).indexOf("_") != 0 }).length %> / <%= lodash.filter(bellboy.bells, function(value) { return value }).length %> bells enabled</td>
            </tr>
            <% } %>
              <tr>
                <% for (i = 1; i <= 4; i++) { %>
                  <% bell = locals.bellboy.bells["_button" + i] %>
                    <% if(locals.validator.IfExists(bell, "Name")) { %>
                      <td class="button button<%= i %>">
                        <a href="javascript:pressButton(<%= i %>)">
                          <% if(locals.validator.IfExists(bell, "Icon")) { %><i class="glyphicon glyphicon-<%= locals.bellboy.bells['_button' + i].Icon %>"></i> <% } %>
                            <br />
                            <%= bell.Name %>
                        </a>
                      </td>
                      <% } else { %>
                        <td class="button button<%= i %>"><i class="glyphicon glyphicon-remove-circle"></i><br />Disabled</td>
                        <% } %>
                        <% } %>
              </tr>
      </table>
    </div>

    <% include includes/footer %>
