<% include ../includes/header.ejs %>
  <% include ../includes/layout.ejs %>
    <%
    // Function to check if a property exists, and return it if true
    locals.data = function(property, checked) {
    try {
      if(typeof locals.req.query.bell === "undefined") {
        return ""
      }

        if(typeof checked !== "undefined") {
          if(typeof bellboy.bells[locals.req.query.bell].Actions[property] !== "undefined") {
            return "checked='checked'"
          } else {
            return ""
          }
        }
        return bellboy.bells[locals.req.query.bell][property]

    } catch(ex) {
      return ""
    }
  } %>
      <script type="text/javascript">
        $(document).ready(function() {
          // Hide everything that ends with _group
          $("[id$='_group']").hide()
            // If the element we've changed ends with _toggle, then
            // Find an element that shares the same name, but with _group at the end,
            // then show it (e.g. changing bob_toggle will show / hide bob_toggle_group)
          $("[id$='_toggle']").on("change", function(item) {
            $("[id$='" + event.target.id + "_group']").toggle(item.checked)
          })

        });
      </script>

      <h1>Add New Bell</h1>
      <form method="post" class="form-horizontal">
        <div class="well well-lg">
        <div class="form-group form-group-sm">
          <label for="id" class="col-sm-1 control-label">ID for bell</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="id" placeholder="period1" value="<%= locals.req.query.bell %>">
            <p class="help-block">Lowercase, alphanumeric only</p>
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label for="name" class="col-sm-1 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" placeholder="Bell for first period" value="<%= locals.data('Name') %>">
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label for="description" class="col-sm-1 control-label">Description</label>
          <div class="col-sm-10">
            <textarea name="description" class="form-control" placeholder="This bell rings at the start of period 1"><%= locals.data('Description') %></textarea <p class="help-block">The description should be 1-2 sentences maximum</p>
          </div>
        </div>

        <div class="form-group form-group-sm">
          <label for="time" class="col-sm-1 control-label">Time</label>
          <div class="col-sm-10">
            <input type="text" name="time" class="form-control" placeholder="15 9 * * *" value="<%= locals.data('Time') %>">
            <p class="help-block">The time to run, in <a href="https://en.wikipedia.org/wiki/Cron#Configuration_file">cron format</a>. You can generate cron expressions <a href="http://www.cronmaker.com/">here</a></p>
          </div>
        </div>

        <!-- Now on to the actions -->

        <div class="form-group form-group-sm">
          <label class="col-sm-1 control-label">Actions</label>
          <div class="col-sm-10">
            <div class="checkbox">
              <label for="audio_toggle">
                <input type="checkbox" class="" id="audio_toggle" name="audio" <%- locals.data( 'Audio', true) %>>Play Audio</label>
            </div>
            <div class="checkbox">
              <label for="external_toggle">
                <input type="checkbox" class="" id="external_toggle" name="external">External Ringer</label>
            </div>
            <div class="checkbox">
              <label for="mail_toggle">
                <input type="checkbox" class="" id="mail_toggle" name="mail">Send Email(s)</label>
            </div>
            <div class="checkbox">
              <label for="schedule_toggle">
                <input type="checkbox" class="" id="schedule_toggle" name="schedule">Switch Schedule</label>
            </div>
            <div class="checkbox">
              <label for="toggle_toggle">
                <input type="checkbox" class="" id="toggle_toggle" name="toggle">Toggle Bell(s)</label>
            </div>
            <p class="help-block">Actions to perform when this bell is triggered</p>
          </div>
        </div>

        <% include audio.ejs %>
          <% include external.ejs %>
            <% include mail_trigger.ejs %>
              <% include mail_change.ejs %>
                <% include schedule.ejs %>
                  <% include toggle.ejs %>
</div>
                    <% include ../includes/footer.ejs %>
