<div id="mail_change_toggle_group" class="well well-lg">
  <h4>Email on Change</h4>
  <p>This email will fire when a bell is enabled, disabled, edited or deleted</p>
  <div class="form-group form-group-sm">
    <label class="col-sm-1 control-label">Enabled</label>
    <div class="col-sm-10">
      <div class="radio">
        <label for="mail_change_enabled">
          <input type="radio" name="mail_change_enabled" id="mail_change_enabled" value="true" <%- locals.checked(locals.bellboy.bells[req.query.bell], ['Actions', 'Mail', 'Change']) %>> True
        </label>
      </div>
      <div class="radio">
        <label for="mail_change_disabled">
          <input type="radio" name="mail_change_enabled" id="mail_change_disabled" value="false"> False
        </label>
      </div>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label for="mail_change_to" class="col-sm-1 control-label">To</label>
    <div class="col-sm-10">
      <input type="text" name="mail_change_to" class="form-control" value="<%= locals.validator.GetValue(bellboy.bells[req.query.bell], ['Actions', 'Mail', 'Change', 'To']) %>">
      <p class="help-block">Who to send the email to</p>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label for="mail_change_subject" class="col-sm-1 control-label">Subject</label>
    <div class="col-sm-10">
      <input type="text" id="mail_change_subject" name="mail_change_subject" class="form-control" value="<%= locals.validator.GetValue(bellboy.bells[req.query.bell], ['Actions', 'Mail', 'Change', 'Subject']) %>">
      <p class="help-block">Subject of the email</p>
    </div>
  </div>

  <div class="form-group form-group-sm">
        <label for="mail_change_template" class="col-sm-1 control-label">File(s)</label>
        <div class="col-sm-10">
          <select name="mail_change_template" id="mail_change_template" class="form-control">
            <% bellboy.modules["bellmail"].ViewFiles().forEach(function(item){ %>
              <option value="<%= item %>" <% if(locals.validator.GetValue(bellboy.bells[req.query.bell], ['Actions', 'Mail', 'Change', 'Template']) == item) { %>selected="selected"<% } %>>
                <%= item %>
              </option>
              <% }) %>
          </select>
          <p class="help-block">To add more templates files, upload them to /addons/bellmail/templates</p>
        </div>
      </div>
    </div>

</div>
