<html>
  <head>
    <style type="text/css">
      body, html {
        font-family: Arial
      }
    </style>
  </head>
  <body>
    <h1><%= bellboy.bells[bell].Name %> has been changed</h1>
    <p><%= bellboy.bells[bell].Name %> has been enabled / disabled, edited or deleted. It was changed on <%= Date.parsed %></p>
    <p>To view the bells, please visit <a href="http://<%= bellboy.modules['bellweb'].GetHostName(true) %>:8080">the web UI</a></p>
    <p><small>This was an automated email sent by <%= bellboy.config.AppName %>. Please contact your system administrator for more information</small></p>
  </body>
</html>
