<html>
  <head>
    <style type="text/css">
      body, html {
        font-family: Arial
      }
    </style>
  </head>
  <body>
    <h1><%= bellboy.bells[bellboy.config.Schedule][bell].Name %> has been triggered</h1>
    <p><%= bellboy.bells[bellboy.config.Schedule][bell].Name %> has been triggered. It was triggered on <%= Date.parsed %></p>
    <p>To view the bells, please visit <a href="http://<%= hostname %>:8080">the web UI</a></p>
    <p><small>This was an automated email sent by <%= bellboy.config.AppName %>. Please contact your system administrator for more information</small></p>
  </body>
</html>
